/*
==========================================================================
  BUTTONS (scss/partials/global/_buttons.scss)
==========================================================================
*/
.btn-primary {
  padding: 12px 24px;
  background-color: $blue;
  background-image: url(../img/bg-button-600x327.png);
  background-size: 120% auto;
  background-position: center 54%;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  color: $white !important;
  text-transform: uppercase;
  @include font-family-proxima-nova-bold;
  letter-spacing: 0.05em;

  &:hover {
    background-color: $light-blue;
    border: 0;
    color: $white;
  }
}

a.btn-secondary {
  padding: 2px;

  background: $white;
  border: 1px solid $blue;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  font-size: $h5;
  @include font-family-playfair-regular;
  font-style: italic;
  text-align: center;

  &:hover {
    background: $blue;
    color: $white;
  }

  span {
    display: block;
    padding: 10px 30px;
    border: 1px solid $blue-50;
    -webkit-border-radius: 17.5px 17.5px 17.5px 17.5px;
    border-radius: 17.5px 17.5px 17.5px 17.5px;
  }
}