/*
==========================================================================
  CONTENT AREAS (scss/partials/global/_content-area.scss)
==========================================================================
*/
.content-area {
  &--two-col {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  &__column {
    padding-top: 40px;
    padding-bottom: 40px;

    &--wide {
      @include flex(1, 1, 66%);
      max-width: 66.66%;
      padding-right: 40px;
      padding-bottom: 100px;
      
      @include media-query(small) {
        @include flex(1, 1, 100%);
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
      }
    }
    &--narrow {
      @include flex(1, 1, 33%);
      max-width: 33.33%;
      padding-right: 20px;
      padding-bottom: 40px;
      padding-left: 20px;

      background: $black-05;

      @include media-query(small) {
        @include flex(1, 1, 100%);
        min-width: calc(100% + 35px);
        margin-left: -20px;
        max-width: calc(100% + 35px);
        padding-left: 20px;
        padding-right: 20px;
      }

      .btn-secondary {
        display: block;
        background: #F3F3F3; // $black-05 with no transparency
      }
    }
  }

  &__item {
    h3:first-of-type {
      margin-top: 0;
    }

    &--person {
      @include flexbox;
      
      + .content-area__item--person { // Top borders for bios that follow a previous bio
        padding-top: 40px;
        border-top: 1px solid $black-15;
      }

      .content-area__portrait {
        @include flex(1,1,25%);
        padding-right: 20px;
        margin-bottom: 30px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .content-area__description {
        @include flex(1,1,75%);
        padding-left: 20px;
        margin-bottom: 30px;

        header {
          margin-bottom: 15px;
        }

        h4 {
          margin: 0;
        }

        .content-area__position {
          display: block;
          margin-top: 5px;

          @include font-family-playfair-regular;
          font-style: italic;
          line-height: 1.2;
        }
      }

      address {
        font-style: italic;
      }
    }

    &--news {
      @include flexbox;
      @include flex-wrap(wrap);
      padding-bottom: 40px;

      + .content-area__item--news { // Top borders for bios that follow a previous bio
        padding-top: 40px;
        border-top: 1px solid $black-15;
      }

      .content-area__thumbnail {
        @include flex(1,1,25%);
        max-width: 25%;
        padding-right: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }
      .content-area__description {
        @include flex(1,1,75%);
        max-width: 75%;
        padding-left: 20px;
      }
    }
  }

  &__title {
    @include barTitle;

    span {
      background: #F3F3F3; // $black-05 with no transparency
    }
  }

  &__date {
    @include date;
  }



  &__logo {
    display: block;
    width: 50%;
    margin: 15px 0;
    text-align: center;
    float: left;
  }
}